.half-width{
    width: 40%;
    float: left;
    margin: 4%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.sign-in-button{
    background-color: #21B573;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
}
.title-hilighted{
    color: tomato;
    font: bold;
}
.part-2 img{
    width: 100px;
    padding-bottom: 25px;
}
.card{
    top: 50px;
    padding-bottom: 50px;
    border: none;
    align-content: center;
    box-shadow: 5px 5px 10px lightgray;
}
.part-3{
    padding-top: 100px;
    text-align: center;
}
.card-body{
    text-align: left;
}
.card-footer img{
    width: 20px;
    align-items: flex-end;
}
.card-footer{
border: none;
}
.part-4{
    padding-top: 100px;
    text-align: center;
}
.pic-1 img{
    width: 150px;
}
.last-part{
    text-align: center;
    margin-left: 100px;
    margin-top: 60px;
    margin-right: 100px;
    margin-bottom: 10px;
    background-color: lightgray;
    padding-bottom: 10px;
}
.col-1{
    text-align: left;
}